@import 'variables';
@import 'mixins';

.use {
  background-color: $color-base;
  padding-top: 80px;
  padding-bottom: 80px;
  @include md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__list {
    margin: 0 auto;
    max-width: 340px;
    padding: 0;
    list-style: none;
    @include md {
      display: flex;
      max-width: 100%;
    }
  }
  &__item {
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 8px;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    @include md {
      width: calc((100% - 40px) / 3);
      &:not(:first-of-type) {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
    max-width: 240px;
  }
  &__data {
    margin: 20px 0 0;
  }
  &__target {
    margin: 0;
    font-size: 14px;
    text-align: center;
    .use__item:first-of-type & {
      color: $color-main;
    }
    .use__item:nth-of-type(2) & {
      color: #388e3c;
    }
    .use__item:nth-of-type(3) & {
      color: #fbc02d;
    }
  }
  &__catch {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  &__text {
    margin: 20px 0 0;
    color: $color-font-800;
    font-size: 14px;
    text-align: justify;
  }
}
