<section class="use">
  <div class="container">
    <app-heading><span class="logo-text">Tedori</span>の活用例</app-heading>
    <ul class="use__list">
      <li *ngFor="let use of uses" class="use__item">
        <img src="{{ use.img }}" alt="" class="use__img" data-aos />
        <dl class="use__data">
          <dt class="use__target">{{ use.target }}</dt>
          <dd class="use__catch">{{ use.title }}</dd>
          <dd class="use__text">
            <ng-container :*ngFor="let text of use.text; let i = index">
              {{ text }}
              <ng-container *ngIf="i + 1 !== use.text.length">
                <br />
              </ng-container>
            </ng-container>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
