<section class="about-footer">
  <div class="container">
    <div class="about-footer__text">
      <span>ログイン不要で使える</span>
      <span>かんたん給与試算ツール</span>
    </div>
    <p class="about-footer__logo"><em>Tedori</em><sup class="beta">β</sup></p>
    <a
      color="primary"
      class="about-footer__btn"
      aria-label="今すぐ使ってみる"
      routerLink="/"
    >
      <span>今すぐ使ってみる</span>
    </a>
  </div>
  <img class="about-footer__blob1" src="assets/images/blob-cv01.svg" alt="" />
  <img class="about-footer__blob2" src="assets/images/blob-cv02.svg" alt="" />
  <img class="about-footer__blob3" src="assets/images/blob-cv03.svg" alt="" />
  <img class="about-footer__blob4" src="assets/images/blob-cv04.svg" alt="" />
</section>
