@import 'variables';
@import 'mixins';

.about-footer {
  position: relative;
  background-color: #fff3e0;
  padding: 40px 0;
  text-align: center;
  overflow: hidden;
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__text {
    position: relative;
    margin: 0;
    font-size: 16px;
    color: $color-font-800;
    z-index: 3;
    @include md {
      font-size: 18px;
    }
    span {
      display: block;
    }
  }
  &__logo {
    position: relative;
    margin: 16px 0 0;
    font-size: 40px;
    font-family: $font-logo;
    font-weight: 700;
    line-height: 1;
    z-index: 3;
    @include md {
      font-size: 50px;
    }
    em {
      font-style: normal;
      text-transform: uppercase;
      color: $color-logo;
    }
    .beta {
      color: $color-main;
      font-size: 32px;
      @include md {
        font-size: 40px;
      }
    }
  }
  &__action {
    position: relative;
    margin: 24px auto 0;
    z-index: 3;
    @include md {
      margin-top: 32px;
    }
  }
  &__blob1,
  &__blob2,
  &__blob3,
  &__blob4 {
    position: absolute;
    width: 200px;
    opacity: 0.75;
    @include md {
      width: 320px;
    }
  }
  &__blob1 {
    right: calc(50% + 100px);
    top: 10%;
    @include md {
      right: calc(50% + 320px);
    }
  }
  &__blob2 {
    right: calc(50% + 70px);
    top: -30%;
    @include md {
      right: calc(50% + 220px);
    }
  }
  &__blob3 {
    position: absolute;
    left: calc(50% + 100px);
    bottom: 10%;
    @include md {
      left: calc(50% + 320px);
    }
  }
  &__blob4 {
    left: calc(50% + 70px);
    bottom: -30%;
    @include md {
      left: calc(50% + 220px);
    }
  }
}
