<div class="container nf">
  <img src="/assets/images/error.svg" alt="" class="nf__img" />
  <div class="nf__main">
    <h1 class="nf__title">404 Not Found.</h1>
    <div class="nf__contents">
      <p>
        あなたがアクセスしようとしたページは、<br />
        削除されたかURLが変更されているため、<br />
        見つけることができませんでした。
      </p>
      <p>
        トップページへお戻りください。
      </p>
    </div>
    <div class="nf__actions">
      <button mat-flat-button color="primary" class="nf__home" (click)="home()">
        トップへ戻る
      </button>
    </div>
  </div>
</div>
