@import 'variables';
@import 'mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  min-height: 48px;
  background-color: #fff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);

  &__inner {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__title {
    position: relative;
    margin: 0;
    padding-left: 1.5em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25em;
      height: calc(1.25em * 3 / 4);
      background-image: url('/assets/images/symbol.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &__link {
    display: flex;
    align-items: flex-end;
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.64;
    }
  }
  &__logo {
    font-size: 20px;
    font-family: $font-logo;
    font-weight: 400;
  }
  &__nav {
    margin: 0 1em 0 0;
    padding-left: 0;
    list-style: none;
    display: none;
    font-size: 14px;
    font-family: $font-default;
    color: $color-font-800;
    @include sm {
      display: flex;
    }
    li {
      &:not(:first-of-type) {
        &::before {
          content: '|';
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
    a {
      position: relative;
      transition: opacity 0.4s;
      &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        border-radius: 2px;
        background-color: $color-main;
        transition: width 0.4s;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
  &__login {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    border-radius: 38px;
    padding: 12px 24px;
    width: 100%;
    max-width: 240px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    background: $bg-grad-hero;
    color: #fff;
    overflow: hidden;
    @include md {
      width: auto;
      max-width: inherit;
    }
    &:disabled {
      pointer-events: none;
      background: none;
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      &::before {
        background-color: transparent;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-main-light03;
      transition: background-color 0.4s;
    }
    &:hover::before {
      background-color: transparent;
    }
    span {
      position: relative;
    }
    img {
      display: inline-block;
      margin-right: 2px;
      width: 14px;
    }
  }
  &__icon {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    box-shadow: none;
  }
}

.hedder-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);
  text-align: center;
  z-index: 999;
  @include sm {
    display: none;
  }
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    flex: 1;
    color: #fff;
    background: $bg-grad-hero;
    &:not(:first-of-type) {
      margin-left: 1px;
    }
  }
  &__link {
    display: block;
    font-size: 14px;
    padding: 14px;
    transition: background-color 0.4s;
    background-color: $color-main-light03;
    &:hover {
      background-color: rgba(248, 159, 70, 0);
    }
  }
}
