<mat-toolbar class="header">
  <mat-toolbar-row class="header__inner">
    <div class="header__left">
      <p class="header__title">
        <a routerLink="/" class="header__link">
          <img
            src="/assets/images/logo_header.svg"
            alt="テドリ ベータ版"
            class="header__logo"
          />
          <span class="header__desc">給与試算ツール</span>
        </a>
      </p>
    </div>
    <div class="header__right">
      <ng-template #default>
        <button
          mat-flat-button
          color="primary"
          class="header__login"
          matTooltip="Googleアカウントでログインする"
          aria-label="Googleアカウントでログインする"
          [disabled]="authService.loginProcessing"
          (click)="authService.login()"
        >
          <img
            *ngIf="!authService.loginProcessing"
            src="/assets/images/icon_google.svg"
            alt="Googleアカウント"
          />
          {{ authService.loginProcessing ? 'ログイン中' : 'ログイン' }}
        </button>
      </ng-template>
      <ng-container *ngIf="authService.afUser$ | async as user; else default">
        <button
          mat-mini-fab
          color="primary"
          [matMenuTriggerFor]="userMenu"
          [style.background-image]="'url(' + user.photoURL + ')'"
          class="header__icon"
        ></button>
        <mat-menu #userMenu="matMenu" class="header__menu">
          <a mat-menu-item routerLink="/mypage">
            <mat-icon>account_circle</mat-icon>
            <span>マイページ</span>
          </a>
          <button mat-menu-item (click)="authService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
