<footer class="footer">
  <div class="footer__container">
    <a routerLink="/" class="footer__logo">
      TEDORI
    </a>
    <p class="footer__dev">created by Mitsui.</p>
    <div class="footer__sns">
      <a
        href="https://github.com/mihye1128/"
        aria-label="開発者のGitHubアカウントを見る"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/images/icon-github.svg" alt="" />
      </a>
      <a
        href="https://twitter.com/mitsui_mk"
        aria-label="開発者のTwitterプロフィールを見る"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/images/icon-twitter.svg" alt="" />
      </a>
    </div>
    <div class="footer__end">
      <ul class="footer__nav">
        <li>
          <a routerLink="/">TOP</a>
        </li>
        <li>
          <a routerLink="/salary">給与試算</a>
        </li>
        <li>
          <a routerLink="/national-tax">源泉所得税額試算</a>
        </li>
        <li>
          <a
            href="https://forms.gle/bRAqYSDEJqrmBunC9"
            target="_blank"
            rel="noopener"
            >お問い合わせ</a
          >
        </li>
        <li>
          <a routerLink="/terms">利用規約</a>
        </li>
        <li>
          <a routerLink="/privacy">プライバシーポリシー</a>
        </li>
      </ul>
      <p class="footer__copy">
        &copy; TEDORI.
      </p>
    </div>
  </div>
</footer>
