@import 'variables';
@import 'mixins';

.footer {
  padding: 60px 0 30px;
  background-color: $color-footer;
  color: #fff;
  @include sm {
    padding: 50px 0 40px;
  }
  &__container {
    padding: 0 16px;
  }
  &__logo {
    display: inline-block;
    font-size: 20px;
    font-family: $font-logo;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.64;
    }
    @include sm {
      font-size: 36px;
    }
  }
  &__dev {
    margin: 40px 0 0;
    font-family: $font-logo;
    font-size: 18px;
    @include sm {
      margin-top: 30px;
    }
  }
  &__sns {
    margin-top: 8px;
    margin-left: -8px;
    font-size: 32px;
    a {
      display: inline-block;
      padding: 8px;
      line-height: 1;
      transition: opacity 0.4s;
      &::after {
        content: none;
      }
      &:hover {
        opacity: 0.64;
      }
      &:not(:first-of-type) {
        margin-left: 8px;
      }
    }
  }
  &__end {
    font-size: 12px;
    @include sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      line-height: 2;
    }
  }
  &__nav {
    margin: 30px 0 0;
    padding-left: 0;
    list-style: none;
    @include sm {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.32);
      @include sm {
        border: none;
      }
      &:first-of-type {
        border-top: 1px solid rgba(255, 255, 255, 0.32);
        @include sm {
          border: none;
        }
      }
      &:not(:first-of-type) {
        @include sm {
          &::before {
            content: '/';
            margin-left: 0.5em;
            margin-right: 0.5em;
            opacity: 0.64;
          }
        }
      }
    }
    a {
      display: block;
      padding: 1em 0;
      transition: background-color 0.4s;
      opacity: 0.64;
      @include sm {
        display: inline;
        padding: 0;
        transition: opacity 0.4s;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        @include sm {
          opacity: 0.8;
          background-color: transparent;
        }
      }
    }
    .logo {
      text-transform: uppercase;
    }
  }
  &__copy {
    margin: 30px 0 0;
    font-family: $font-logo;
    opacity: 0.64;
  }
}
