@import 'variables';
@import 'mixins';

.result {
  padding-bottom: 40px;
  background-color: $color-base;
  @include sm {
    padding-bottom: 80px;
  }

  &__title {
    margin: 24px 0 8px;
    font-size: 16px;
    font-weight: 400;
  }

  &__actions {
    margin-top: 40px;
    text-align: center;
  }
  &__btn {
    color: #fff;
  }
}
