<div class="container intl">
  <h1 class="intl__title">利用規約</h1>
  <div class="intl__contents">
    <h2>第1条（適用範囲）</h2>
    <p>
      本利用規約（以下、「本規約」という。）は、Mitsui（以下、「当開発者」という。）と本サービスを利用する者（以下、「ユーザー」という。）に適用されます。ユーザーは、本サービスを利用することにより、本利用規約の全ての内容に同意したものとみなされます。
    </p>
    <h2>第2条（本サービスの利用）</h2>
    <p>
      本サービスは開発中のものであり、その性質上、バグや瑕疵、誤動作など、正常に利用できない症状等の不具合を含み得るものとして提供され、当開発者はその正確性・完全性・有用性・信頼性・無害性等に関していかなる保証もいたしません。
    </p>
    <p>
      ユーザーが本サービス内にアップロードしたデータや、利用情報、コンテンツ等は、予告なく一部または全部が削除される場合があります。
    </p>
    <p>
      ユーザーがベータ版内にアップロードしたデータや、利用情報、コンテンツ等に関して、ベータ版におけるサービス終了後に提供される正式版サービスに、当開発者は引き継ぐ義務を負わないものとします。
    </p>
    <p>推奨ブラウザは、以下となります。</p>
    <ul>
      <li>Google Chrome 最新バージョン</li>
      <li>Safari 最新バージョン</li>
    </ul>
    <h2>第3条（本サービスの閲覧環境・通信料について）</h2>
    <p>
      ユーザーは、自己の責任と負担において、本サービスを利用するために必要な通信機器、インターネット接続契約等を準備するものとします。また、本サービス利用に関わる通信料、接続料等はユーザーが負担するものとします。
    </p>
    <h2>第4条（禁止事項）</h2>
    <p>
      当開発者は、次の各号の場合にユーザーのサービス利用を停止する場合があります。
    </p>
    <ol>
      <li>外部スクリプトによる本サービスを利用する行為</li>
      <li>
        法令に違反し、もしくは公序良俗に反する行為またはそのおそれのある行為
      </li>
      <li>第三者のユーザーアカウントを不正に使用または取得する行為</li>
      <li>
        コンピュータウィルスなどの有害なプログラムを使用し、もしくは送信する行為、またはそのおそれのある行為
      </li>
      <li>
        前号に定めるものの他、不正アクセス行為等当開発者による業務の遂行、本サービスの実施もしくは当開発者の通信設備等に支障を及ぼし、またはそのおそれがあると当開発者が判断する行為
      </li>
    </ol>
    <p>
      ユーザーは、プログラム等による自動的な検索機能等を用いて本サービスを利用しないものとします。
    </p>
    <h2>第5条（知的財産権の帰属等）</h2>
    <p>
      本サービスに関する著作権、その他一切の知的財産権は、当開発者又は正当な権利を有する第三者に帰属します。<br />
      ユーザーは、当開発者の事前の同意なく、本サービスを複製、改変、翻訳、再配布、リバースエンジニアリング、逆コンパイル、逆アセンブルする行為をしないものとします。
    </p>
    <h2>第6条（本サービスの変更・停止・終了）</h2>
    <p>
      本サービスはベータ版であり、今後の正式版サービスのリリースを目的とした実験的サービスとして無料提供されるものです。当開発者は、本サービスを構成する仕様、サービス内容、機能、デザイン、取得情報等をユーザーに対して予告なく変更することがあります。<br />
      また、随時、フィードバックとしてユーザーのご意見をうかがうことがあります。
    </p>
    <p>
      当開発者は、次の各号の場合には本サービスの提供の全部又は一部を中断又は一時的に停止をすることがあります。
    </p>
    <ol>
      <li>
        本サービス提供の前提条件として使用する通信回線、サーバその他の機器及び関連するソフトウェア等の保守、工事、障害その他やむを得ない事由がある場合
      </li>
      <li>
        火災、地震、洪水等の天災地変、停電、戦争、テロ、ストライキ、暴動、物資及び輸送施設の確保不能その他当開発者の合理的な支配が及ばない状況により本サービスの提供が不能となった場合
      </li>
      <li>ユーザーが本利用規約に違反した事実が当開発者により確認された場合</li>
      <li>
        本サービスの運用上、技術上又はユーザーの利便のため一時的な本サービスの提供の中断又は停止が必要と当開発者が判断した場合
      </li>
      <li>
        正式版サービスのリリースに向けた準備のため本サービスの提供を中断又は停止する場合
      </li>
      <li>その他当開発者の責めに帰すべからざる事由に起因する場合</li>
    </ol>
    <p>
      当開発者は、自己の裁量により、本サービスの提供を終了することができるものとします。
    </p>
    <p>
      当開発者は、前6項に定める事由による本サービスの中断、停止又は終了に起因し、ユーザー又は第三者に損害が生じた場合であっても、一切責任を負わないものとします。
    </p>
    <h2>第7条（ユーザー登録）</h2>
    <p>
      本サービスの利用希望者は、本利用規約の内容に同意した上で、当開発者所定の方法により、ユーザーアカウントを作成するものとします。
    </p>
    <p>ユーザー登録は法人又は個人を対象とします。</p>
    <h2>第8条（ID・パスワードの管理）</h2>
    <p>
      ユーザーは、自己の責任において、ID・パスワードを適切に管理・保管するものとし、これを第三者に開示し又は利用させる行為、貸与、譲渡、売買、担保提供する行為等をしてはならないものとします。
    </p>
    <p>
      当開発者は、ログイン時に使用されたID・パスワードが登録されたものと一致することを所定の方法により確認した場合、当該ログインした者を真正なユーザーとみなします。
    </p>
    <p>
      ユーザーによるID・パスワードの管理不十分、使用上の過誤、不正使用等によってユーザーが損害を被ったとしても、当開発者は一切責任を負わないものとします。
    </p>
    <h2>第9条（アップデート）</h2>
    <p>
      当開発者は、本サービスの補修及びアップデート版を提供する義務を負いません。<br />
      ただし、当開発者の判断により、ユーザーに本サービスのアップデート版、又は本サービスのバージョンアップ版等を提供する場合があります。
    </p>
    <h2>第10条（取得データの管理）</h2>
    <p>
      ユーザーは、本サービスを利用して作成されたデータが、当開発者が管理するサーバーに保存されることに、同意したものとします。
    </p>
    <p>
      本サービスにおける、当開発者のサーバーに保存されているデータが、滅失、毀損、当開発者の責によらない第三者による漏洩・傍受その他の事由により、本来の利用目的以外に使用されたとしても、その結果発生する損害について、当開発者はいかなる責任も負わないものとします。
    </p>
    <p>
      当開発者は、本サービスによりバックアップされたデータについて、システム上の性質上、復元の完全性を保証しないものとします。<br />
      その結果発生する損害について、当開発者はいかなる責任も負わないものとします。
    </p>
    <p>
      当開発者は、ユーザーのお問い合わせに応じ、ユーザーのデータを確認・操作する場合があります。
    </p>
    <h2>第11条（取得データの利用）</h2>
    <p>
      当開発者が必要と判断した場合、ユーザーの事前承諾の有無にかかわらず、ユーザー（会員登録ユーザー）に対しメール等を用いて通知または連絡を行うことがあります。<br />
      なお、本サービスの利用および本規約に基づくユーザーへのメールによる諸通知は、ユーザーが登録したメールアドレスにそのメールを送信した時をもって、ユーザーに到達したものとします。
    </p>
    <h2>第12条（無保証）</h2>
    <p>
      当開発者は、本サービス（本サービスに対するサポート、本コンテンツを含みますが、これに限りません。）を現状有姿のまま提供します。また、当開発者は、当開発者に故意又は重過失がある場合を除き、法律上の瑕疵担保責任を含むすべての明示又は黙示の保証責任及び本サービスに起因するユーザーの全ての損害（直接損害、逸失利益、特別な事情から生じた損害、データ等に対する損害を含みます。）ならびに本サービスの使用に関係して第三者からユーザーに対してなされた使用差止や賠償請求に基づく損害について一切責任を負いません。
    </p>
    <p>
      ユーザーは、本サービスを自己の裁量とリスクで使用するものとし、本サービスを使用することでユーザー本人及び第三者に与えた損害について当開発者が一切の保証をしないことに同意するものとします。
    </p>
    <p>
      ユーザーは、当開発者が本サービスの正確性、完全性、合法性、信頼性、第三者の知的財産権の非侵害、コンピューターウイルス等を含む情報セキュリティ上の問題の不存在等について、一切の責任を負わないことに同意するものとします。
    </p>
    <h2>第13条（免責）</h2>
    <p>
      当開発者は、次の各号の場合において、ユーザーに生じた損害に対して、一切の責任を負いません。
    </p>
    <ol>
      <li>
        連携サービス側に起因する事由（サービス中断、不具合、仕様の変更等をいうがそれに限らない。）により本サービスに不具合が発生した場合
      </li>
      <li>その他、本サービスを利用することに伴い発生した一切の損害</li>
    </ol>
    <h2>第14条（登録抹消等）</h2>
    <p>
      当開発者は、ユーザーが以下の各号のいずれかに該当すると当開発者が判断した場合、事前に通知することなく、本サービスの利用の一時停止又はユーザーとしての登録を抹消して本契約を解除することができます。なお、当開発者は、上記判断に関する理由を開示する義務は負いません。
    </p>
    <ol>
      <li>本利用規約のいずれかの条項に違反した場合</li>
      <li>その他、当開発者が本サービスの利用を適当でないと判断した場合</li>
    </ol>
    <p>
      ユーザーは、前項各号のいずれかに該当すると当開発者が判断した場合は、当開発者に対して負っている債務の一切について期限の利益を失い、直ちに当開発者に対する全ての債務の履行をしなければなりません。
    </p>
    <p>
      当開発者は、本条に基づき当開発者が行った行為によりユーザーに生じた損害について、一切の責任を負いません。
    </p>
    <h2>第15条（個人情報）</h2>
    <p>
      当開発者は、個人情報を当開発者所定の「プライバシーポリシー」に基づき、適切に取り扱うものとします。
    </p>
    <h2>第16条（本利用規約の変更）</h2>
    <p>
      当開発者は、その理由を問わず本利用規約をいつでも任意に変更することができるものとし、ユーザーはこれに予め同意します。
    </p>
    <p>
      当開発者が別途定める場合を除き、本利用規約の変更は、本サイトに掲載する方法によってユーザーへ通知します。
    </p>
    <p>
      本利用規約の変更は、前項の通知において指定した日付より効力を生じるものとします。
    </p>
    <p>
      ユーザーが本利用規約の変更を同意しない場合、ユーザーの唯一の対処方法は、本契約を中途解約するのみとなります。
    </p>
    <dl>
      <dt>附則</dt>
      <dd>本利用規約は、2020年8月1日より発効します。</dd>
    </dl>
  </div>
</div>
