.intl {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px;
  color: $color-font-700;
  @include sm {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 40px;
    font-weight: 400;
  }
  p {
    line-height: 1.5;
    margin-top: 14px;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 7px;
    margin-bottom: 14px;
    padding-left: 1.25em;
  }
  dl {
    margin-top: 40px;
    margin-bottom: 0;
  }
  dt {
    margin-bottom: 7px;
  }
  dd {
    margin-left: 0;
    small {
      font-size: 12px;
    }
  }
  dd + dt {
    margin-top: 24px;
  }
  a {
    text-decoration: underline;
  }
}
