@import 'variables';
@import 'mixins';

.method {
  padding-top: 40px;
  padding-bottom: 40px;
  @include sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__table {
    color: $color-font-700;
    width: 100%;
    margin-top: 32px;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    @include sm {
      font-size: 14px;
      margin-top: 40px;
    }
    th,
    td {
      border: 1px solid $color-font-400;
      font-weight: normal;
      @include sm {
        br {
          display: none;
        }
      }
    }
    th {
      padding: 12px 8px;
      @include sm {
        padding: 15px 10px;
      }
    }
    td {
      padding: 10px 10px;
      text-align: right;
      font-size: 18px;
      @include sm {
        font-size: 24px;
      }
      a {
        font-size: 12px;
        text-decoration: underline;
        transition: opacity 0.4s;
        &:hover {
          opacity: 0.6;
        }
        @include sm {
          font-size: 16px;
        }
      }
      small {
        font-size: 10px;
        display: block;
        text-align: left;
        @include sm {
          font-size: 12px;
        }
      }
      .unit {
        font-size: 12px;
        margin-left: 2px;
        @include sm {
          font-size: 16px;
        }
      }
    }
    thead {
      th {
        background-color: $color-base;
      }
    }
    tbody {
      th {
        text-align: left;
      }
    }
  }
  &__annotation {
    margin-top: 12px;
    margin-bottom: 40px;
    color: $color-font-700;
    font-size: 10px;
    @include sm {
      margin-top: 12px;
      margin-bottom: 80px;
      font-size: 12px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 2em;
      text-indent: -2em;
      &:not(:first-of-type) {
        margin-top: 4px;
      }
    }
  }
  &__data {
    margin-top: 32px;
    color: $color-font-700;
    line-height: 1.5;
    @include sm {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
    }

    dt {
      padding-top: 14px;
      font-size: 14px;
      margin: 0;
      border-top: 1px solid $color-font-400;
      @include sm {
        padding: 16px 0;
        width: 120px;
        font-size: 16px;
        &:last-of-type {
          border-bottom: 1px solid $color-font-400;
        }
      }
    }
    dd {
      padding-bottom: 14px;
      font-size: 12px;
      margin: 12px 0 0;
      @include sm {
        padding: 16px 0;
        width: calc(100% - 120px);
        font-size: 14px;
        border-top: 1px solid $color-font-400;
        margin: 0;
      }
      &:last-of-type {
        border-bottom: 1px solid $color-font-400;
      }
    }
    span {
      display: block;
      margin-top: 6px;
      @include sm {
        margin-top: 8px;
      }
    }
    a {
      text-decoration: underline;
      transition: opacity 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
