<div class="method" *ngIf="rate$ | async as rate">
  <div class="main-container">
    <h2 class="main-title">各種保険料率 早見表</h2>
    <table class="method__table">
      <thead>
        <tr>
          <th>種別</th>
          <th>料率</th>
          <th>労働者<br />負担割合</th>
          <th>事業者<br />負担割合</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>健康保険</th>
          <td>
            <small>標準報酬月額の</small>
            <a [href]="rate.socialIns.healthInsRateListUrl" target="_blank"
              >各都道府県の<br />料率</a
            >
          </td>
          <td>50<span class="unit">%</span></td>
          <td>50<span class="unit">%</span></td>
        </tr>
        <tr>
          <th>厚生年金保険</th>
          <td>
            <small>標準報酬月額の</small>
            {{ rate.socialIns.pensionInsRate }}<span class="unit">%</span>
          </td>
          <td>50<span class="unit">%</span></td>
          <td>50<span class="unit">%</span></td>
        </tr>
        <tr>
          <th>介護保険</th>
          <td>
            <small>標準報酬月額の</small>
            {{ rate.socialIns.nursingInsRate }}<span class="unit">%</span>
          </td>
          <td>50<span class="unit">%</span></td>
          <td>50<span class="unit">%</span></td>
        </tr>
        <tr>
          <th>子ども・子育て<br />拠出金</th>
          <td>
            <small>標準報酬月額の</small>
            {{ rate.socialIns.childrenInsRate }}<span class="unit">%</span>
          </td>
          <td>-</td>
          <td>100<span class="unit">%</span></td>
        </tr>
        <tr>
          <th>労災保険</th>
          <td>
            <small>総支給額の</small>
            {{ rate.compensationIns.rate }}/1000
          </td>
          <td>-</td>
          <td>100<span class="unit">%</span></td>
        </tr>
        <tr>
          <th>雇用保険</th>
          <td>
            <small>総支給額の</small>
            {{ rate.unemploymentIns.rate }}/1000
          </td>
          <td>{{ rate.unemploymentIns.workerBurden }}/9</td>
          <td>{{ rate.unemploymentIns.ownerBurden }}/9</td>
        </tr>
      </tbody>
    </table>
    <h2 class="main-title">各種控除の試算方法</h2>
    <dl class="method__data">
      <dt>社会保険料</dt>
      <dd>
        全国健康保険協会（協会けんぽ）の保険料率を基に算出します。
        <span>
          社会保険料の算出に関する詳細は、全国健康保険協会HPの下記のページをご参照ください。
        </span>
        <span>
          「<a [href]="rate.socialIns.url" target="_blank">{{
            rate.socialIns.title
          }}</a
          >」
        </span>
      </dd>
      <dt>雇用保険料</dt>
      <dd>
        事業の種類により、雇用保険料率は異なります。<br />
        こちらの試算ツールでは、「一般の事業」の保険料率を基に算出します。
        <span>
          雇用保険料の算出に関する詳細は、厚生労働省HPの下記のページをご参照ください。
        </span>
        <span>
          「<a [href]="rate.unemploymentIns.url" target="_blank">{{
            rate.unemploymentIns.title
          }}</a
          >」
        </span>
      </dd>
      <dt>労災保険料</dt>
      <dd>
        事業の種類により、労災保険料率は異なります。<br />
        こちらの試算ツールでは、「その他の各種事業」の保険料率を基に算出します。
        <span>
          労災保険料の算出に関する詳細は、厚生労働省HPの下記のページをご参照ください。
        </span>
        <span>
          「<a [href]="rate.compensationIns.url" target="_blank">{{
            rate.compensationIns.title
          }}</a
          >」
        </span>
      </dd>
      <dt>源泉所得税</dt>
      <dd>
        源泉所得税の計算は、源泉徴収税額表の電子計算機等を使用して源泉徴収税額を計算する方法に基づいて算出しています。
        <span>
          源泉所得税額の算出に関する詳細は、国税庁HPの下記のページをご参照ください。
        </span>
        <span>
          「<a [href]="rate.nationalTax.url" target="_blank">{{
            rate.nationalTax.title
          }}</a
          >」
        </span>
      </dd>
      <dt>住民税</dt>
      <dd>
        住民税は、前年度の所得に基づいて算出されます。<br />
        納付方法に、「普通徴収」と「特別徴収」があります。「普通徴収」では、年税額を6月から翌年5月までの12回に分割し、給与支払者が月々の給料から差し引いて納付します。<br />
        「普通徴収」の場合は、条件設定に該当月の徴収税額を入力してください。
      </dd>
    </dl>
  </div>
</div>
