<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      絞り込み設定
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="form" class="form">
    <dl class="form__data">
      <dt class="form__dt">条件名</dt>
      <dd class="form__dd">
        <mat-form-field class="form__title">
          <mat-label>条件名で探す</mat-label>
          <input
            type="text"
            matInput
            autocomplete="off"
            formControlName="title"
            [value]="form.value.title"
          />
        </mat-form-field>
      </dd>
    </dl>
    <dl class="form__data">
      <dt class="form__dt">基本給</dt>
      <dd class="form__dd">
        <mat-checkbox
          class="form__radio-btn"
          name="monthly"
          formControlName="typeMonthly"
          [value]="form.value.typeMonthly"
          #typeMonthly
          >月給</mat-checkbox
        >
        <mat-checkbox
          class="form__radio-btn"
          name="hourly"
          formControlName="typeHourly"
          [value]="form.value.typeHourly"
          #typeHourly
          >時給</mat-checkbox
        >
      </dd>
    </dl>
    <ng-container *ngIf="typeMonthly.checked">
      <dl class="form__data">
        <dt class="form__dt">月給</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="baseLower"
              class="price"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="baseUpper"
              class="price"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
      <dl class="form__data">
        <dt class="form__dt">諸手当</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="allowanceLower"
              class="price"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="allowanceUpper"
              class="price"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
    </ng-container>
    <ng-container *ngIf="typeHourly.checked">
      <dl class="form__data">
        <dt class="form__dt">時給</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="basePerHourLower"
              class="price"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="basePerHourUpper"
              class="price"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
    </ng-container>
    <div class="form__actions">
      <button mat-stroked-button (click)="cancelSearch()">
        検索条件クリア
      </button>
    </div>
  </form>
</mat-expansion-panel>
