@import 'variables';
@import 'mixins';

:host {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr;
}

.mypage {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-base;
  @include sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__settings {
    text-align: right;
    margin-bottom: 16px;
  }
}
