@import 'variables';
@import 'mixins';

.mypage {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-base;
  @include sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__list {
    @include sm {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: block;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
    @include sm {
      width: calc(50% - 10px);
      &:nth-of-type(-n + 2) {
        margin-top: 0;
      }
      &:not(:nth-of-type(-n + 2)) {
        margin-top: 20px;
        margin-left: 0;
      }
      &:nth-of-type(even) {
        margin-left: 20px;
      }
    }
  }
}
