<section class="cv">
  <div class="container">
    <div class="cv__text">
      <span>ログイン不要で使える</span>
      <span>かんたん給与試算ツール</span>
    </div>
    <p class="cv__logo">Tedori</p>
    <div class="cv__action">
      <a
        color="primary"
        class="btn-main"
        aria-label="今すぐ使ってみる"
        routerLink="/salary"
      >
        <span>今すぐ使ってみる</span>
      </a>
    </div>
  </div>
  <img class="cv__blob1" src="assets/images/blob-cv01.svg" alt="" />
  <img class="cv__blob2" src="assets/images/blob-cv02.svg" alt="" />
  <img class="cv__blob3" src="assets/images/blob-cv03.svg" alt="" />
  <img class="cv__blob4" src="assets/images/blob-cv04.svg" alt="" />
</section>
