<mat-expansion-panel class="form">
  <mat-expansion-panel-header>
    <mat-panel-title>
      絞り込み設定
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="form">
    <dl class="form__data">
      <dt class="form__dt">条件名</dt>
      <dd class="form__dd">
        <mat-form-field class="form__type-title">
          <mat-label>条件名で探す</mat-label>
          <input
            type="text"
            matInput
            autocomplete="off"
            formControlName="title"
          />
        </mat-form-field>
      </dd>
    </dl>
    <dl class="form__data">
      <dt class="form__dt">基本給</dt>
      <dd class="form__dd">
        <mat-radio-group
          aria-label=""
          class="form-type__group"
          formControlName="type"
        >
          <mat-radio-button class="form-type__btn" value="monthly" #typeMonthly
            >月給</mat-radio-button
          >
          <mat-radio-button class="form-type__btn" value="hourly" #typeHourly
            >時給</mat-radio-button
          >
          <mat-radio-button class="form-type__btn" value="all" #all
            >両方</mat-radio-button
          >
        </mat-radio-group>
      </dd>
    </dl>
    <ng-container *ngIf="all.checked || typeMonthly.checked">
      <dl class="form__data">
        <dt class="form__dt">月給</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="baseLower"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="baseUpper"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
      <dl class="form__data">
        <dt class="form__dt">諸手当</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="allowanceLower"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="allowanceUpper"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
    </ng-container>
    <ng-container *ngIf="all.checked || typeHourly.checked">
      <dl class="form__data">
        <dt class="form__dt">時給</dt>
        <dd class="form__dd">
          <mat-form-field class="form__field">
            <mat-label>下限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="basePerHourLower"
            />
          </mat-form-field>
          〜
          <mat-form-field class="form__field">
            <mat-label>上限</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="basePerHourUpper"
            />
          </mat-form-field>
          <span class="yen">円</span>
        </dd>
      </dl>
    </ng-container>
    <div class="form__actions">
      <button mat-stroked-button>検索条件クリア</button>
    </div>
  </form>
</mat-expansion-panel>
