<h2 matDialogTitle class="dialog__title">
  条件の編集
</h2>
<div mat-dialog-content class="form">
  <form [formGroup]="form">
    <mat-form-field class="form__title">
      <mat-label>条件名</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        formControlName="title"
        #conditionTitle
      />
      <mat-hint align="end"
        >{{ conditionTitle.value.length }} / {{ maxLength.title }}</mat-hint
      >
      <mat-error *ngIf="form.get('title').hasError('maxlength')"
        >最大{{ maxLength.title }}文字です。</mat-error
      >
    </mat-form-field>
    <div class="form__detail">
      <div class="form__income">
        <div class="form__item">
          <mat-radio-group
            aria-label=""
            class="form-type__group"
            formControlName="type"
          >
            <mat-radio-button
              class="form-type__btn"
              value="monthly"
              #typeMonthly
              >月給</mat-radio-button
            >
            <mat-radio-button class="form-type__btn" value="hourly" #typeHourly
              >時給</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <ng-container *ngIf="typeMonthly.checked">
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>基本給</mat-label>
              <input
                placeholder="320000"
                type="text"
                matInput
                autocomplete="off"
                formControlName="base"
                #base
              />
              <span class="unit" matSuffix>円</span>
              <mat-hint align="end"
                >{{ base.value.length }} / {{ maxLength.base }}</mat-hint
              >
              <mat-error *ngIf="form.get('base').hasError('maxlength')"
                >最大{{ maxLength.base }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('base').hasError('pattern')"
                >半角数字で金額を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>諸手当（課税分）</mat-label>
              <input
                placeholder="40000"
                type="text"
                matInput
                autocomplete="off"
                formControlName="allowance"
                #allowance
              />
              <span class="unit" matSuffix>円</span>
              <mat-hint align="end"
                >{{ allowance.value.length }} /
                {{ maxLength.allowance }}</mat-hint
              >
              <mat-error *ngIf="form.get('allowance').hasError('maxlength')"
                >最大{{ maxLength.allowance }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('allowance').hasError('pattern')"
                >半角数字で金額を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>交通費（非課税）</mat-label>
              <input
                placeholder="15000"
                type="text"
                matInput
                autocomplete="off"
                formControlName="travelCost"
                #travelCost
              />
              <span class="unit" matSuffix>円</span>
              <mat-hint align="end"
                >{{ travelCost.value.length }} /
                {{ maxLength.travelCost }}</mat-hint
              >
              <mat-error *ngIf="form.get('travelCost').hasError('maxlength')"
                >最大{{ maxLength.travelCost }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('travelCost').hasError('pattern')"
                >半角数字で金額を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="typeHourly.checked">
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>時給</mat-label>
              <input
                placeholder="1400"
                type="text"
                matInput
                autocomplete="off"
                formControlName="basePerHour"
                #basePerHour
              />
              <span class="unit" matSuffix>円</span>
              <mat-hint align="end"
                >{{ basePerHour.value.length }} /
                {{ maxLength.basePerHour }}</mat-hint
              >
              <mat-error *ngIf="form.get('basePerHour').hasError('maxlength')"
                >最大{{ maxLength.basePerHour }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('basePerHour').hasError('pattern')"
                >半角数字で金額を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>1日あたりの交通費</mat-label>
              <input
                placeholder="400"
                type="text"
                matInput
                autocomplete="off"
                formControlName="travelCostPerDay"
                #travelCostPerDay
              />
              <span class="unit" matSuffix>円</span>
              <mat-hint align="end"
                >{{ travelCostPerDay.value.length }} /
                {{ maxLength.travelCostPerDay }}</mat-hint
              >
              <mat-error
                *ngIf="form.get('travelCostPerDay').hasError('maxlength')"
                >最大{{ maxLength.travelCostPerDay }}文字です。</mat-error
              >
              <mat-error
                *ngIf="form.get('travelCostPerDay').hasError('pattern')"
                >半角数字で金額を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>1日あたりの就業時間</mat-label>
              <input
                placeholder="5"
                type="text"
                matInput
                autocomplete="off"
                formControlName="hourPerDay"
                #hourPerDay
              />
              <span class="unit" matSuffix>時間</span>
              <mat-hint align="end"
                >{{ hourPerDay.value.length }} /
                {{ maxLength.hourPerDay }}</mat-hint
              >
              <mat-error *ngIf="form.get('hourPerDay').hasError('maxlength')"
                >最大{{ maxLength.hourPerDay }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('hourPerDay').hasError('pattern')"
                >半角数字で時間を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="form__field">
              <mat-label>1ヶ月あたりの就業日数</mat-label>
              <input
                placeholder="15"
                type="text"
                matInput
                autocomplete="off"
                formControlName="dayPerMonth"
                #dayPerMonth
              />
              <span class="unit" matSuffix>日</span>
              <mat-hint align="end"
                >{{ dayPerMonth.value.length }} /
                {{ maxLength.dayPerMonth }}</mat-hint
              >
              <mat-error *ngIf="form.get('dayPerMonth').hasError('maxlength')"
                >最大{{ maxLength.dayPerMonth }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('dayPerMonth').hasError('pattern')"
                >半角数字で日数を入力してください。</mat-error
              >
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div class="form__deduction">
        <div class="form__item form-radio">
          <p class="form-radio__title">社会保険</p>
          <mat-radio-group
            aria-label=""
            class="form-radio__group"
            formControlName="ins"
          >
            <mat-radio-button class="form-radio__btn" [value]="true" #insTrue
              >加入</mat-radio-button
            >
            <mat-radio-button class="form-radio__btn" [value]="false"
              >なし</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="form__item form-radio">
          <p class="form-radio__title">雇用保険</p>
          <mat-radio-group
            aria-label=""
            class="form-radio__group"
            formControlName="unemploymentIns"
          >
            <mat-radio-button class="form-radio__btn" [value]="true"
              >加入</mat-radio-button
            >
            <mat-radio-button class="form-radio__btn" [value]="false"
              >なし</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <ng-container *ngIf="insTrue.checked">
          <div class="form__item">
            <mat-form-field appearance="fill" class="form__field">
              <mat-label>就業地</mat-label>
              <mat-select formControlName="area">
                <mat-option *ngFor="let area of areaList" [value]="area">
                  {{ area }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field appearance="fill" class="form__field">
              <mat-label>年齢</mat-label>
              <mat-select formControlName="age">
                <mat-option value="young">〜 39歳</mat-option>
                <mat-option value="middle">40歳 〜 64歳</mat-option>
                <mat-option value="elderly">65歳 〜</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
        <div class="form__item">
          <mat-form-field appearance="fill" class="form__field">
            <mat-label>扶養家族</mat-label>
            <mat-select formControlName="dependents">
              <mat-option [value]="0">なし</mat-option>
              <mat-option
                *ngFor="let dependent of dependents"
                [value]="dependent"
              >
                {{ dependent }}人
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form__item">
          <mat-form-field class="form__field">
            <mat-label>住民税</mat-label>
            <input
              placeholder="20000"
              type="text"
              matInput
              autocomplete="off"
              formControlName="cityTax"
              #cityTax
            />
            <span class="unit" matSuffix>円</span>
            <mat-hint align="end"
              >{{ cityTax.value.length }} / {{ maxLength.cityTax }}</mat-hint
            >
            <mat-error *ngIf="form.get('cityTax').hasError('maxlength')"
              >最大{{ maxLength.cityTax }}文字です。</mat-error
            >
            <mat-error *ngIf="form.get('cityTax').hasError('pattern')"
              >半角数字で金額を入力してください。</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form__item">
          <mat-form-field class="form__field">
            <mat-label>その他控除</mat-label>
            <input
              type="text"
              matInput
              autocomplete="off"
              formControlName="otherDeduction"
              #otherDeduction
            />
            <span class="unit" matSuffix>円</span>
            <mat-hint align="end"
              >{{ otherDeduction.value.length }} /
              {{ maxLength.otherDeduction }}</mat-hint
            >
            <mat-error *ngIf="form.get('otherDeduction').hasError('maxlength')"
              >最大{{ maxLength.otherDeduction }}文字です。</mat-error
            >
            <mat-error *ngIf="form.get('otherDeduction').hasError('pattern')"
              >半角数字で金額を入力してください。</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog__actions">
  <button
    mat-flat-button
    [disabled]="form.invalid || form.pristine"
    color="primary"
    (click)="updateCondition()"
  >
    更新
  </button>
  <button mat-stroked-button matDialogClose>
    キャンセル
  </button>
</div>
