@import 'variables';
@import 'mixins';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.points {
  position: relative;
  background-color: $color-base;
  padding-top: 80px;
  padding-bottom: calc(80px + 3.5vw);
  @include md {
    padding-top: 80px;
    padding-bottom: calc(100px + 3.5vw);
  }

  &__img {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    @include md {
      width: 50%;
      max-width: 50%;
      margin: 0;
    }
    img {
      display: block;
      border-radius: 4px;
      overflow: hidden;
      width: 100%;
    }
  }
  &__bottom {
    pointer-events: none;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
  }
}

.points-contents {
  max-width: 340px;
  margin: 32px auto 0;
  @include md {
    max-width: 100%;
    display: flex;
    margin: 0;
  }
  &__item {
    display: flex;
    @include md {
      display: block;
      border-radius: 8px;
      padding: 2em 1.5em;
      box-shadow: $box-shadow;
      background-color: #fff;
      width: calc(100% / 3 - 40px / 3);
    }
    &:not(:first-of-type) {
      margin-top: 20px;
      @include md {
        margin-top: 0;
      }
    }
    &:not(:nth-of-type(3n + 1)) {
      @include md {
        margin-left: 20px;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $bg-grad;
    color: #fff;
    font-size: 18px;
    @include md {
      margin: 0 auto;
    }
  }
  &__data {
    margin: 0;
    width: calc(100% - 50px);
    padding-left: 16px;
    @include md {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
  }
  &__dt {
    @include md {
      font-size: 18px;
      text-align: center;
      color: $color-main;
      font-weight: 700;
    }
  }
  &__dd {
    margin: 4px 0 0;
    color: $color-font-700;
    font-size: 14px;
    @include md {
      margin-top: 14px;
    }
  }
}
