<dl class="condition__data">
  <ng-container *ngIf="condition.type === 'monthly'">
    <dt class="condition__dt">基本給</dt>
    <dd class="condition__dd">
      {{ condition.base | number }}<span class="yen">円</span>
    </dd>
    <dt class="condition__dt">諸手当</dt>
    <dd class="condition__dd">
      {{ condition.allowance | number }}<span class="yen">円</span>
    </dd>
    <dt class="condition__dt">交通費</dt>
    <dd class="condition__dd">
      {{ condition.travelCost | number }}<span class="yen">円</span>
    </dd>
  </ng-container>
  <ng-container *ngIf="condition.type === 'hourly'">
    <dt class="condition__dt">時給</dt>
    <dd class="condition__dd">
      {{ condition.basePerHour | number }}<span class="yen">円</span>
    </dd>
    <dt class="condition__dt">1日あたりの交通費</dt>
    <dd class="condition__dd">
      {{ condition.travelCostPerDay | number }}<span class="yen">円</span>
    </dd>
    <dt class="condition__dt">1日あたりの就業時間</dt>
    <dd class="condition__dd">{{ condition.hourPerDay }}時間</dd>
    <dt class="condition__dt">1ヶ月あたりの就業日数</dt>
    <dd class="condition__dd">{{ condition.dayPerMonth }}日</dd>
  </ng-container>
  <ng-container *ngIf="condition.ins">
    <dt class="condition__dt">就業地</dt>
    <dd class="condition__dd">
      {{ condition.area }}
    </dd>
    <dt class="condition__dt">年齢</dt>
    <dd class="condition__dd">
      {{ getAge(condition.age) }}
    </dd>
  </ng-container>
  <dt class="condition__dt">扶養家族</dt>
  <dd class="condition__dd">{{ condition.dependents }}人</dd>
  <dt class="condition__dt">住民税</dt>
  <dd class="condition__dd">
    {{ condition.cityTax | number }}<span class="yen">円</span>
  </dd>
  <dt class="condition__dt">その他控除</dt>
  <dd class="condition__dd">
    {{ condition.otherDeduction | number }}<span class="yen">円</span>
  </dd>
</dl>
