<section class="hero">
  <div class="container">
    <div class="hero__main">
      <p class="hero__main-text">
        ログイン不要で使える<br />かんたん給与試算ツール
      </p>
      <p class="hero__sub-text">
        給与試算機能は、ログイン不要ですぐに使えます。<br />
        計算した条件を保存したい時や、他デバイスとの共有をしたい場合は、<br
          class="sp-none"
        />
        Googleアカウントにてログインすると試算条件を保存できます。
      </p>
      <div class="hero__image">
        <img src="/assets/images/hero.png" alt="" />
      </div>
      <a class="hero__btn" aria-label="今すぐ使ってみる" routerLink="/">
        <span>今すぐ使ってみる</span>
      </a>
    </div>
  </div>
  <svg
    class="hero__bottom"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 70"
  >
    <path
      fill="#fff3e0"
      fill-opacity="1"
      d="M0,0,60,10.7C120,21,240,43,360,37.3,480,32,600,0,720,5.3,840,11,960,53,1080,64s240-11,300-21.3L1440,32V70H0Z"
    ></path>
  </svg>
</section>
