<section class="hero">
  <div class="container">
    <div class="hero__main">
      <h1 class="hero__title"><em>Tedori</em><sup class="beta">β</sup></h1>
      <p class="hero__main-text">
        条件を入力して、給与をカンタン試算。
      </p>
      <p class="hero__sub-text">
        Googleアカウントでログインすると、条件設定をマイページに保存できます。<br />
        多数の条件で比較したい時や、他デバイスとの共有におすすめです。
      </p>
      <div class="hero__images">
        <img
          src="/assets/images/points_worker.png"
          alt=""
          class="hero__laptop"
        />
      </div>
      <ul class="hero__actions">
        <li>
          <a
            mat-flat-button
            color="primary"
            class="hero__home"
            aria-label="計算する"
            routerLink="/"
          >
            計算する
          </a>
        </li>
        <li>
          <ng-template #default>
            <button
              mat-flat-button
              color="primary"
              class="hero__login"
              aria-label="Googleアカウントでログインする"
              [disabled]="authService.loginProcessing"
              (click)="authService.login()"
            >
              {{
                authService.loginProcessing
                  ? 'ログイン中'
                  : 'Googleアカウントでログイン'
              }}
            </button>
          </ng-template>
          <ng-container
            *ngIf="authService.afUser$ | async as user; else default"
          >
            <a
              mat-flat-button
              color="primary"
              class="hero__login"
              aria-label="Googleアカウントでログインする"
              routerLink="/mypage"
            >
              マイページを見る
            </a>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</section>
