<div class="condition-list" *ngIf="rateService.rate">
  <div class="condition-list__list" *ngIf="conditions; else blank">
    <app-condition-card
      *ngFor="let condition of conditions"
      [condition]="condition"
      [rate]="rateService.rate"
      class="condition-list__item"
    ></app-condition-card>
  </div>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="getConditions()"
  ></div>
  <ng-template #blank>
    <p class="condition-list__none" *ngIf="!loading">
      保存された条件はありません。
    </p>
  </ng-template>
  <div *ngIf="loading" class="loading">
    <mat-spinner class="loading__spinner" diameter="40"></mat-spinner>
  </div>
</div>
