<div class="condition-list" *ngIf="rateService.rate$ | async as rate">
  <ng-container *ngIf="conditions$ | async as conditions; else none">
    <app-condition-card
      *ngFor="let condition of conditions"
      [condition]="condition"
      [rate]="rate"
      class="condition-list__item"
    ></app-condition-card>
  </ng-container>
  <ng-template #none>
    <p class="condition-list__none">保存された条件はありません。</p>
  </ng-template>
  <ng-container *ngIf="loading$ | async">
    <div class="loading">
      <mat-spinner class="loading__spinner" diameter="40"></mat-spinner>
    </div>
  </ng-container>
</div>
