@import 'variables';
@import 'mixins';

.form {
  padding-top: 16px;
  &__title {
    width: 100%;
    max-width: 300px;
  }
  &__data {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }
  &__dt {
    width: 60px;
    font-size: 14px;
    font-weight: 400;
  }
  &__dd {
    width: calc(100% - 60px);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    .price {
      box-sizing: border-box;
      text-align: right;
      padding-right: 0.5em;
    }
  }
  &__field {
    width: 90px;
  }
  &__radio-btn {
    font-size: 14px;
    font-weight: 400;
    &:not(:last-of-type) {
      margin-right: 21px;
    }
  }
  &__actions {
    margin-top: 16px;
    margin-bottom: 8px;
    button {
      font-size: 14px;
      font-weight: 400;
      &:first-of-type {
        color: #fff;
      }
      &:not(:first-of-type) {
        margin-left: 8px;
      }
    }
  }
}
