@import 'variables';
@import 'mixins';

mat-card {
  padding: 16px;
  @include sm {
    padding: 24px;
  }
}
mat-card-content {
  margin: 0;
  padding: 16px 0;
}
mat-card-actions {
  margin: 0;
  button {
    &:first-of-type {
      color: #fff;
    }
  }
}

.form {
  &__title {
    width: 100%;
    max-width: 300px;
  }
  &__data {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }
  &__dt {
    width: 60px;
    font-size: 14px;
    font-weight: 400;
  }
  &__dd {
    width: calc(100% - 60px);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    .price {
      box-sizing: border-box;
      text-align: right;
      padding-right: 0.5em;
    }
  }
  &__field {
    width: 90px;
  }
  &__radio-btn {
    font-size: 14px;
    font-weight: 400;
    &:not(:last-of-type) {
      margin-right: 21px;
    }
  }
}
