@import 'material-custom';
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: $color-font-900;
  font-family: Roboto, 'Noto Sans JP', 'Helvetica Neue', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;

  &[target='_blank'] {
    &::after {
      font-family: 'Material Icons';
      content: '\e895';
      display: inline-block;
      text-decoration: none;
      margin-left: 0.25em;
    }
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  @include sm {
    padding: 0 24px;
  }
}

.main-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 16px;
  @include sm {
    padding: 0 24px;
  }
}
.main-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  &::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-image: $bg-grad;
  }
  @include sm {
    font-size: 24px;
  }
}
.main-sub-title {
  margin: 24px 0 8px;
  font-size: 16px;
  font-weight: 400;
}

.intl {
  padding-top: 20px;
  padding-bottom: 40px;
  @include sm {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  &__title {
    margin: 0 0 24px;
    padding: 12px 0 0;
    font-size: 16px;
    font-weight: 400;
    &::after {
      content: '';
      display: block;
      margin-top: 8px;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-image: $bg-grad;
    }
    @include sm {
      font-size: 18px;
    }
  }
  &__contents {
    padding-bottom: 40px;
    font-size: 14px;
    color: $color-font-700;
    h2 {
      font-size: 16px;
      margin-bottom: 16px;
      margin-top: 40px;
      font-weight: 400;
    }
    p {
      line-height: 1.5;
      margin-top: 14px;
      margin-bottom: 0;
    }
    ul,
    ol {
      margin-top: 7px;
      margin-bottom: 14px;
      padding-left: 1.25em;
    }
    dl {
      margin-top: 40px;
      margin-bottom: 0;
    }
    dt {
      margin-bottom: 7px;
    }
    dd {
      margin-left: 0;
      small {
        font-size: 12px;
      }
    }
    dd + dt {
      margin-top: 24px;
    }
    a {
      text-decoration: underline;
    }
  }
}

.result-panel {
  &__header {
    padding-left: 16px;
    padding-right: 16px;
    &.disabled {
      padding-right: 24px;
    }
    @include sm {
      padding-left: 32px;
      padding-right: 32px;
      height: 60px !important;
      &.disabled {
        padding-right: 40px;
      }
    }
  }
  &__title,
  &__desc {
    font-size: 14px;
    color: $color-font-900 !important;
    @include sm {
      font-size: 16px;
    }
  }
  &__title {
    width: 80px;
    margin-right: 0;
    @include sm {
      width: 180px;
    }
  }
  &__desc {
    width: calc(100% - 92px);
    margin-right: 12px;
    @include sm {
      width: calc(100% - 196px);
      margin-right: 16px;
    }
  }
  &__price {
    text-align: right;
    width: 50%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    &:only-of-type {
      width: 100%;
    }
    @include sm {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__head {
    display: inline-block;
    text-align: center;
    width: 50%;
    &:only-of-type {
      width: 100%;
    }
  }
  &__detail {
    margin: 0 -8px;
    font-size: 12px;
    padding-right: 24px;
    display: flex;
    flex-wrap: wrap;
    @include sm {
      margin: 0;
      font-size: 14px;
      padding-left: 8px;
      padding-right: 32px;
    }
    dt {
      width: 80px;
      @include sm {
        margin-top: 8px;
        font-size: 14px;
        width: 140px;
      }
      @include md {
        width: 180px;
      }
    }
    & > div {
      display: flex;
      width: calc(100% - 80px);
      @include sm {
        margin-top: 8px;
        width: calc(100% - 140px);
      }
      @include md {
        width: calc(100% - 180px);
      }
    }
    dd {
      margin: 0 auto;
      text-align: right;
      width: 50%;
      max-width: 160px;
      &:only-of-type {
        width: 100%;
      }
    }
  }
  .yen {
    font-size: 0.8em;
    @include sm {
      margin-left: 0.25em;
      font-size: 0.6em;
    }
  }
  .pre {
    color: $color-font-600;
    font-size: 0.8em;
    @include sm {
      font-size: 0.6em;
    }
  }
}

.condition-list {
  margin-top: 24px;
  @include sm {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
    @include sm {
      width: calc(50% - 10px);
      &:nth-of-type(-n + 2) {
        margin-top: 0;
      }
      &:not(:nth-of-type(-n + 2)) {
        margin-top: 20px;
      }
      &:not(:nth-of-type(2n + 1)) {
        margin-left: 20px;
      }
    }
    @include md {
      width: calc(100% / 3 - 40px / 3);
      &:nth-of-type(-n + 3) {
        margin-top: 0;
      }
      &:not(:nth-of-type(-n + 3)) {
        margin-top: 20px;
        margin-left: 0;
      }
      &:not(:nth-of-type(3n + 1)) {
        margin-left: 20px;
      }
    }
  }
  &__none {
    width: 100%;
    text-align: center;
  }
}
