html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: $color-font-900;
  font-family: Roboto, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;

  &[target='_blank'] {
    &::after {
      font-family: 'Material Icons';
      content: '\e895';
      display: inline-block;
      transform: translateY(0.15em);
      text-decoration: none;
      margin-left: 0.25em;
    }
  }
}
img {
  vertical-align: top;
}

mat-form-field {
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: right;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-content {
  align-items: center;
}
