.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  @include sm {
    padding: 0 24px;
  }
}

.sp-only {
  @include md {
    display: none;
  }
}

.main-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 16px;
  @include sm {
    padding: 0 24px;
  }
}
.main-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  &::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-image: $bg-grad;
  }
  @include sm {
    font-size: 24px;
  }
  small {
    display: inline-block;
    font-size: 0.75em;
  }
}
.main-sub-title {
  margin: 24px 0 8px;
  font-size: 16px;
  font-weight: 400;
}

.logo-text {
  margin: 0;
  font-size: 25px;
  font-family: $font-logo;
  font-weight: 700;
  line-height: 1;
  @include md {
    font-size: 36px;
  }
  em {
    font-style: normal;
    text-transform: uppercase;
    color: $color-logo;
  }
  .beta {
    color: $color-main;
    font-size: 20px;
    @include md {
      font-size: 28px;
    }
  }
}

.btn-main {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  border-radius: 36px;
  padding: 0.75em 4em;
  width: 100%;
  max-width: 340px;
  font-size: 16px;
  text-align: center;
  background: $bg-grad-hero;
  color: #fff;
  box-shadow: 0px 8px 14px -4px rgba(204, 143, 1, 0.4);
  overflow: hidden;
  @include md {
    width: auto;
    max-width: inherit;
  }
  &:disabled {
    pointer-events: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.4s;
  }
  &:hover::before {
    background-color: $color-main-light03;
  }
  span {
    position: relative;
  }
}
