@mixin sm {
  @media screen and (min-width: 600px) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: 960px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
