@import 'variables';
@import 'mixins';

.page-head {
  position: relative;
  padding: 32px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  @include sm {
    padding: 64px 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 171, 64, 0.75);
  }
  &__title {
    position: relative;
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 0px $color-font-800, -1px 1px 0px $color-font-800,
      1px -1px 0px $color-font-800, -1px -1px 0px $color-font-800,
      1px 0px 0px $color-font-800, 0px 1px 0px $color-font-800,
      -1px 0px 0px $color-font-800, 0px -1px 0px $color-font-800;
    @include sm {
      font-size: 36px;
    }
  }
  &__sub-title {
    position: relative;
    margin: 0.5em 0 0;
    color: #fff;
    font-size: 16px;
    font-family: $font-logo;
    @include sm {
      font-size: 20px;
    }
  }
}
