<div class="points">
  <div class="container">
    <app-heading><span class="logo-text">Tedori</span>の特徴</app-heading>
    <ul class="points-contents">
      <li class="points-contents__item" *ngFor="let point of points">
        <div class="points-contents__icon">
          <mat-icon>{{ point.icon }}</mat-icon>
        </div>
        <dl class="points-contents__data">
          <dt class="points-contents__dt">{{ point.title }}</dt>
          <dd class="points-contents__dd">{{ point.text }}</dd>
        </dl>
      </li>
    </ul>
  </div>
  <img
    class="points__bottom"
    src="assets/images/wave-points-bottom.svg"
    alt=""
  />
</div>
