<div class="condition-list">
  <div
    class="condition-list__list"
    *ngIf="conditionList.length > 0; else blank"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="scrolled.emit()"
  >
    <ng-container *ngFor="let condition of conditionList">
      <app-condition-card
        *ngIf="!conditionsService.deletedIds.includes(condition.id)"
        [condition]="conditionsService.setCondition(condition)"
        [rate]="rate"
        class="condition-list__item"
      ></app-condition-card>
    </ng-container>
  </div>
  <div *ngIf="loading" class="loading">
    <mat-spinner class="loading__spinner" diameter="40"></mat-spinner>
  </div>
  <ng-template #blank>
    <p class="condition-list__none" *ngIf="!loading">
      {{ blankMessage }}
    </p>
  </ng-template>
</div>
